.rectangles {
    height: 300px;
    top: 300px;
    width: 100px;
    left: 450px;
    background-color: rgb(184, 157, 3);
    transition: left 0.5s;
    position: fixed;
}

button {
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;
  }
  
button:hover {background-color: #3e8e41}
  
button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}


body {
    background-color: darkslateblue;
}
